---
---
@import "bootstrap";

body {
    font-family: Raleway;
}

a {
    color: #848484;
}

div img {
    width: 100%;
}

.nav-row div {
    
}

.nav-item {
    margin-top: 20px;
    white-space: nowrap;
}

.dropdown-menu {
    box-shadow: none;
    margin: 10px 0 0;
}

@media only screen and (max-width: $screen-md-min) {
    .nav-row {
        text-align: center;
    }
    .logo-div img {
        width: 300px;
    }
    .dropdown-menu {
        float: none;
        width:200px;
        position: relative;
        margin: 10px auto;
        left: 52px;
        font-size: 20px;
    }
    body {
        font-size: 24px;
    }
}

@media only screen and (max-width: $screen-sm-min) {
    .logo-div img {
        width: 250px;
    }
}
