---
---
@import "bootstrap";

body {
    font-family: Raleway;
}

a {
    color: #848484;
}

.nav-row {
    margin-top:40px;
}

.nav-item {
    margin-top:35px;
}

.logo {
    display: block;
    margin:0 auto;
    width:70%;
}

.nav-row a {
    font-size: 1.2em;
    line-height: 3;
    margin-left: 10px;
    text-decoration: none;
}

.nav-row a:hover {
    text-decoration: underline;
    color: black;
}

div img {
    width: 100%
}

.open {
    background-color: #f4f3f5;
}

.dropdown-menu {
    border: none;
    margin-top: -10px;
    width:100%;
    background-color: #f4f3f5;
    border-radius: 0px;
    box-shadow: none;
}

.dropdown-menu li:hover {
    background-color: #9F99A3;
}