<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    
    <link rel="shortcut icon" type="image/png" href="{{site.github.url}}/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% if page.style %}
        <link rel="stylesheet" href="{{site.github.url}}/css/{{ page.style }}" />
    {% endif %}
    
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'/>
</head>

<body>
    <div class="container">
    
    <div class="row nav-row">
        <div class="col-md-4 left-nav">
            <ul class="nav navbar-nav nav-text">
                <li><a href="{{site.github.url}}/">HOME</a></li>
                <li><a href="{{site.github.url}}/about">ABOUT</a></li>
            </ul>
        </div>
    
        <div class="col-md-4">
            <img class="logo" src="{{site.github.url}}/img/logo.jpeg"></img>
        </div>
    
        <div class="right-nav col-md-4">
            <ul class="nav navbar-nav nav-text">
                <li><a href="{{site.github.url}}/currentwork">CURRENT WORK</a></li>
                <li><a href="{{site.github.url}}/contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
    
    
    
    {{ content }}
    
    </div>
</body>
</html>
