<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    
    <link rel="shortcut icon" type="image/png" href="{{site.github.url}}/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/site.css">
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/foundation-icons.css">
    <script type="text/javascript" src="{{site.github.url}}/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{site.github.url}}/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'/>
    
    {% if page.style %}
        <link rel="stylesheet" href="{{site.github.url}}/css/{{ page.style }}" />
    {% endif %}
    {% if layout.style %}
        <link rel="stylesheet" href="{{site.github.url}}/css/{{ layout.style }}" />
    {% endif %}
    
    
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-lg-2 col-lg-offset-1">
                <img class="logo" src="{{site.github.url}}/img/logo.png" style="width:100%" />
                
            </div>
            <div class="col-lg-1 col-lg-offset-5">
                <span>ABOUT</span>
            </div>
            <div class="col-lg-1">
                <span>CONTACT</span>
            </div>
            <div class="col-lg-1">
                <span>WORK</span>
            </div>
        </div>
{{ content }}

    </div>
</body>
</html>
